<div class="h-100 position-relative">
	<div *ngIf="disabled"
	     class="cursor-not-allowed position-absolute top-0 right-0 w-100 h-100 back-white opacity-8 z-index-1">
	</div>
	<div>
		<h5 class="text-center">{{addTypeName}}</h5>
		<div class="d-flex flex-nowrap">
			<div class="upload-file-container cursor-pointer"
			     fileUploaderDragAndDrop
			     (click)="fileInput.click()"
			     (onFileDropped)="onFileInput($event)">
				<i class="fas fa-cloud-upload-alt color-info fs13"></i>
				<input #fileInput id="fileInput" hidden type="file"
				       (change)="onFileInput($event.target)">
				<label for="fileInput" class="m-0 ml-1 cursor-pointer text-center">
					<strong>Выберите</strong>
					<span> или перетащите файл(ы) сюда</span>.
					<br>
					<span *ngIf="fileTypeLimitation.length">Доступные для загрузки типы: <strong>{{fileTypeLimitation.join(', ')}}</strong></span>
				</label>
			</div>
		</div>
		<div class="files-list" *ngFor="let file of files">
			<p class="m-0">{{file.fileName.length > 40 ? file.fileName.substring(0, 40) + '...' : file.fileName}}</p>
			<div *ngIf="file.isLoading || !file.loadedOnServer"
			     class="ml-2 progress flex-1-0-auto">
				<div
						[ngClass]="!file.isLoading && !file.loadedOnServer?'bg-danger':'bg-success'"
						aria-valuemax="100"
						aria-valuemin="0"
						aria-valuenow="100"
						class="progress-bar progress-bar-striped progress-bar-animated"
						role="progressbar" style="width: 100%"></div>
			</div>
			<div>
				<button *ngIf="loadUrl"
				        (click)="deleteAttachment(file)"
				        [disabled]="file.isLoading"
				        style="color: red"
				        class="action-file">
					<i class="far fa-trash-alt"></i>
				</button>
				<button *ngIf="removeUrl"
				        (click)="upload(file)"
				        [disabled]="file.isLoading || file.loadedOnServer"
				        class="action-file">
					<i class="fas fa-upload"></i>
				</button>
				<i class="fa fa-flag" aria-hidden="true" *ngIf="waitResult"
				   [ngClass]="file.addInfo==null?'error-color':(file.addInfo?'enabled-color':'disabled-color')"></i>
			</div>
		</div>
	</div>
</div>
